:root{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items:center;
    background: #454545;
}
#nameButton{
    width: 70%;
    align-self: center;
    margin-bottom: 5%;
    height: 50px;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.container{
    width: 700px;
    height: 300px;
    background-color: grey;
    border-width: 1px;
    display: flex;
    flex-direction: row;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}


.card{
    opacity: 1;
    transition: opacity 0.2s ease;
    background-color: darkgrey;
    margin: 15px;
    width: 30%;
    height: 70%;
    align-self:center;
    border-radius: 10px;  
}
.card:hover{
    
    background-color: #9c9c9c;
    transform: scale(1.05);
}
.card.hidden{
    opacity: 0;
    pointer-events: none;
}
.card:active{
    transform: scale(1);
}
